*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background-color: rgb(226, 222, 222);
}
.body {
  margin: 0 15px;

  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}
.grille {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #fff;
}
/* Carré */
.carre {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  width: 200px;
  height: 190px;
  margin-bottom: 10px;
  margin-right: 15px;
}

.red {
  border: 3px solid red;
}
.green {
  border: 3px solid greenyellow;
}
.rose {
  border: 3px solid pink;
}
.blue {
  border: 3px solid blue;
}
.yellow {
  border: 3px solid yellow;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: rgb(80, 80, 80);
  color: white;
}
footer {
  height: 30px;
  background-color: rgb(177, 174, 174);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p > span {
  font-weight: bold;
}
